joyrpc-spring/src/main/resources/META-INF/joyrpc.xsd

<xsd:schema xmlns="http://joyrpc.io/schema/joyrpc" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:joyrpc="http://joyrpc.io/schema/joyrpc" elementFormDefault="qualified"
            targetNamespace="http://joyrpc.io/schema/joyrpc">
    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the JoyRpc]]></xsd:documentation>
    </xsd:annotation>
    <!-- RegistryConfig -->
    <xsd:element name="registry">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 注册中心配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心地址，多个用逗号分隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="registry" type="xsd:string" use="optional" default="broadcast">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 调用注册中心的超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="backupEnabled" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否开启备份 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="backupPath" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 备份路径 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="backupDatum" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 备份数量 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="backupInterval" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 备份间隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="taskRetryInterval" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 任务重试间隔 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="maxConnectRetryTimes" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 最大连接重试次数 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!-- ServerBean -->
    <xsd:element name="server">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务端配置（监听端口），可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="protocol" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="host" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="port" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定端口（已绑定自动+1重试） ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="contextPath" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 发布上下文 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ioThreads" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ IO线程池大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threadPool" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池类型插件名称 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="coreThreads" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池core大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="maxThreads" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池max大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="queueType" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[  业务线程池队列类型 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="queues" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 业务线程池队列大小 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="accepts" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 允许的连接数 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="buffers" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The buffer size. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="epoll" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Linux下是否启动epoll特性 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="transportFactory" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 传输实现工厂 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="endpointFactory" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 客户端和服务端创建工厂 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- ParameterConfig -->
    <xsd:element name="parameter">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 参数配置，可作为一级二级三级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="key" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 参数配置关键字 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 参数配置值 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="hide" type="xsd:boolean" use="optional" default="false">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 是否为隐藏配置 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- AbstractInterfaceConfig -->
    <xsd:complexType name="interfaceShared">
        <xsd:attribute name="filter" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 过滤器插件实现链，多个用英文逗号隔开 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="register" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否注册到注册中心 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 注册中心bean名称,多个用英文逗号分隔 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="configure" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 配置中心名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="subscribe" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否从注册中心订阅 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proxy" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 代理类生成方式 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <!-- 以下方法可覆盖-->
        <xsd:attribute name="validation" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否校验参数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="compress" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 压缩算法 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="concurrency" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 接口下每方法的最大可并行执行请求数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cache" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否启动结果缓存 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheProvider" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 自定义结果缓存插件名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheKeyGenerator" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存key生成器名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheExpireTime" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存过期时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheNullable" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存值是否可空 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheCapacity" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存容量大小 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>
    <!-- MethodConfig -->
    <xsd:complexType name="methodShared">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法名称（不支持重载方法） ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法调用超时时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cluster" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 分发策略 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retries" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 方法重试次数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="retryOnlyOncePerNode" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 每个节点只调用一次 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="failoverWhenThrowable" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 可以重试的逗号分隔的异常全路径类名 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="failoverPredication" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 重试异常判断接口插件 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="failoverSelector" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 异常重试目标节点选择器 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="forks" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 并行调用数量 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="validation" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否校验参数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="concurrency" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 该方法的最大可并行执行请求数 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cache" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 是否启动结果缓存 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="compress" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 压缩算法插件名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheProvider" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 自定义结果缓存插件名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheKeyGenerator" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存key生成器名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheExpireTime" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存过期时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheNullable" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存值是否可空 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheCapacity" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 结果缓存容量大小 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheKeyExpression" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 缓存键表达式 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="method">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 方法级配置，可作为二级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="methodShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nodeMethod">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 方法级配置，可作为二级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="methodShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="dstParam" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 目标参数（机房/分组等）索引，从0开始计数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- AbstractConsumerConfig -->
    <xsd:complexType name="consumerShared" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="interfaceShared">
                <xsd:attribute name="timeout" type="xsd:string" use="optional" default="5000">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 调用超时时间 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="url" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 直连地址，配置了此地址就不再从注册中心获取 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="generic" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否泛化调用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cluster" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 集群策略插件名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="retries" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 失败后重试次数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="retryOnlyOncePerNode" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 每个节点只调用一次 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="failoverWhenThrowable" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 可以重试的逗号分隔的异常全路径类名 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="failoverPredication" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 重试异常判断接口插件 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="failoverSelector" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 异常重试目标节点选择器 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="forks" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 并行调用数量 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="loadbalance" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 负载均衡算法插件名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="sticky" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否粘滞连接 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="injvm" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否走injvm调用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="check" type="xsd:boolean" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 是否强依赖服务端 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="serialization" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 序列化方式插件名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="nodeSelector" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 节点选择器插件名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="initSize" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 初始化连接数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="minSize" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 最小连接数 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="candidature" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 候选者算法插件名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="warmupWeight" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 预热权重 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="warmupDuration" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 预热时间 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="topConsumer">
        <xsd:complexContent>
            <xsd:extension base="consumerShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="method" type="joyrpc:method" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="id" type="xsd:ID" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="interface" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="alias" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="nodeConsumer">
        <xsd:complexContent>
            <xsd:extension base="consumerShared">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="method" type="joyrpc:method" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:choice>
                <xsd:attribute name="alias" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- ConsumerBean -->
    <xsd:element name="consumer" type="joyrpc:topConsumer" id="consumer">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者配置，可作为一级二级元素 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!-- ConsumerGroupBean -->
    <xsd:element name="consumerGroup">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者分组配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="topConsumer">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="consumer" type="joyrpc:nodeConsumer" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="method" type="joyrpc:nodeMethod" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                    <xsd:attribute name="groupRouter" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 分组路由规则插件 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="dstParam" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 目标参数（机房/分组等）索引，从0开始计数 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- ProviderBean -->
    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务提供者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="interfaceShared">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="method" type="joyrpc:method" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:choice>
                    <xsd:attribute name="id" type="xsd:ID" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="interface" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="alias" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务别名分组信息 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ref" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口实现类  ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="server" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 需要发布服务到的Server，多个用英文逗号隔开 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="timeout" type="xsd:int" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务端执行超时时间 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="delay" type="xsd:int" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 延迟发布服务时间 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="weight" type="xsd:int" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 服务提供者权重 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="include" type="xsd:string" use="optional" default="*">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 发布的方法列表 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="exclude" type="xsd:string" use="optional" default="">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 不发布的方法列表 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="dynamic" type="xsd:boolean" use="optional" default="true">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 是否动态注册Provider ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="warmup" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 预热插件名称 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="interfaceValidator" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 接口验证器插件名称 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="enableValidator" type="xsd:boolean" use="optional">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ 是否开启接口验证器 ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
